body {
  background-color: #1b96d9;
  color: white;
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: lato;
  font-style: normal;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  flex-direction: row;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-items: center;
  margin-bottom: 20px;
}

.column-full {
  width: 100%;
  margin-block-end: 200px;
}

.column-first {
  max-width: 33%;
  flex-wrap: wrap;
  margin-top: 10px;
}

.column-second {
  max-width: 33%;
  margin: 10px;
}

.column-third {
  max-width: 33%;
}

.opaque {
  color: rgb(255 255 255 / 75%);
}

h2 {
  justify-content: center;
  text-align: center;
}

section {
  width: 100%;
  justify-items: center;
  justify-content: center;
  text-align: center;
}

.images {
  background: rgb(255 255 255 / 100%);
  width: 33%;
  padding: 10%;
  border-width: thin;
  border-radius: 100%;
  flex-direction: row;
  justify-content: center;
}

h3 {
  text-align: center;
}

p {
  font-size: small;
  margin: 0;
}

img {
  width: 100%;
}
