/* body {
  box-sizing: border-box;
}

.container {
  width: 1000px;
  margin-left: 15px;
  box-sizing: border-box;
  position: relative;
}

.row {
  display: flex;
  width: 100%
}

.column-full {
  width: 100%;
}

.top-head {
  text-align: center;
} */

/* .row {
  width: 100%;
  display: flex;
}

.h-size-3 {

}

.para {

}

.baby-image {

}

.big-image {

}

make a big class under section with all elements inside */
