.pokemon {
  width: 900px;
  margin: 0 auto;
  text-align: center;
}

.pokemon > img {
  width: 150px;/* your code here */
}

#bulbasaur {
  position: relative;
}

#charmander {
  position: relative;
  top: 30px;
  left: 20px /* your code here */
}

#squirtle {
  position: relative;
  top: 70px;
  left: 40px;/* your code here */
}

#pikachu {
  position: relative;
  top: 160px;
  left: 40px;/* your code here */
}

#jigglypuff {
  position: relative;
  top: 340px;
  left: 40px /* your code here */
}
