.container {
  max-width: 800px;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

.column-full {
  width: 100%;
}

.row {
  display: flex;
}

img {
  width: 100%;
}

.column-one-third {
  width: calc(100% /3);
}

.column-one-quarter {
  width: 25%;
}

.column-two-thirds {
  width: 66%;
}
