input {
  color: black;
}

#button:hover {
  background-color: black;
  color: white;
}

.header {
  background-color: black;
  color: white;
  border: 0.5px solid white;
}

table.gray {
  background-color: lightgray;
}
