body {
  font-family: Karla, sans-serif;
  font-style: normal;
  font-weight: 700;
}

* {
  box-sizing: border-box;
}

.container {
  width: 1000px;
  margin: auto;
}

footer {
  width: 100%;
  display: flex;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 4.5em;
  font-weight: lighter;
}

.row {
  max-width: 100%;
  display: flex;
}

.paraheader {
  text-align: center;
  line-height: 150%;
  letter-spacing: 1px;
  color: rgb(143 143 143);
}

.main {
  width: 100%;
}

.col-five {
  flex-basis: 50%;
  flex-direction: row;
}

.col-one {
  flex-basis: 30%;
}

.col-four {
  flex-basis: 70%;
}

p {
  line-height: 150%;
  letter-spacing: 1px;
  color: rgb(143 143 143);
}

h3 {
  word-wrap: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.column-full {
  width: 100%;
  text-align: center;
}

/*
.column-half {
  flex-basis: 35%;
  flex-direction: row;
}

.column-one-third {
  flex-basis: 15%;
  flex-direction: row;
}

.column-full-two {
  display: flex;
  max-width: 100%;
}

.column-end {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
} */

.button {
  text-align: center;
  position: relative;
  margin-left: 27em;
  border-color: rgb(210 76 69);
  padding: 8px 40px;
  color: rgb(210 76 69);
  text-transform: uppercase;
  font-weight: 100;
  background-color: white;
}
