body {
  font-family: Karla, sans-serif;
  font-style: normal;
  font-weight: 700;
}

* {
  box-sizing: border-box;
}

.container {
  width: 1000px;
  margin: auto;
}

.row {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
}

.text-align-center {
  text-align: center;
}

.column-full {
  flex-basis: 100%;
  flex-direction: column;
}

/* new flex directioon column */

.padding-left-and-right {
  padding: 70px;
}

h1 {
  text-transform: uppercase;
  font-size: 4.5em;
  font-weight: lighter;
}

.paraheader {
  line-height: 150%;
  letter-spacing: 1px;
  color: rgb(143 143 143);
}

.col-five {
  flex-basis: 50%;
}

.section {
  width: 100%;
}

.col-one {
  flex-basis: 30%;
}

.col-four {
  flex-basis: 70%;
}

p {
  line-height: 150%;
  letter-spacing: 1px;
  color: rgb(143 143 143);
}

h3 {
  word-wrap: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.button {
  position: relative;
  margin-left: 27em;
  border-color: rgb(210 76 69);
  padding: 8px 40px;
  color: rgb(210 76 69);
  text-transform: uppercase;
  font-weight: 100;
  background-color: white;
}
