* {
  box-sizing: border-box;
}

.container {
  width: 90vw;
  position: relative;
  margin: auto;
}

.nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: space-between;
  margin-top: 20px;
  border-color: #817f6d;
}

.column-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  justify-items: flex-start;
  margin-bottom: 10px;
  border-color: blue;
}

/* .column-header {
  margin: auto, 10px, auto, 10px;
} */

/* .column-header > .btn-grp {
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 20%;
} */

/*
.column-header.btn-grp: :nth-of-type(1) {
  position: absolute;
  justify-content: flex-end;
} */

.btn {
  padding: auto;
  margin-top: 50px;
  background: none;
  border: none;
  color: rgb(110 110 110);
  text-align: end;
  font-size: larger;
  margin-bottom: 20px;
}

.logo {
  width: 30%;
  padding-top: 10px;
}

.row {
  width: 100%;
  position: relative;
}

#blue {
  background-color: rgb(41 68 100);
  color: white;
  border-radius: 2px;
  padding-left: 8px;
  padding-right: 8px;
}

img {
  /* position: absolute; */
  width: 100%;
  height: 100%;
  background-image: #817f6d;
  margin-left: 10px;
}

.img-text {
  position: absolute;
  width: 40%;
  margin-top: 8%;
  margin-left: 8%;
  color: white;
  height: auto;
  left: 0;
  top: 0;
  object-fit: cover;
}

.start-button {
  background-color: rgb(41 68 100);
  color: white;
  border-radius: 5px;
  padding: 20px 50px;
  font-size: large;
}

#gradient {
  position: absolute;
  background: linear-gradient(#817f6d));
}

.img-head {
  font-weight: lighter;
}

.text {
  line-height: 25px;
}

.row-mid {
  text-align: center;
  height: 5%;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  background-color: rgb(250 250 250);
}

.column-mid {
  width: 40%;
  color: rgb(110 110 110);
  line-height: 20px;
}

.mid-header {
  font-weight: 200;
  color: rgb(110 110 110);
  padding-top: 20px;
}

.row-addresses {
  display: flex;
  flex-direction: row;
  height: 20%;
  background-color: rgb(250 250 250);
  width: 100%;
  position: relative;
}

.column-addresses {
  width: 50%;
  height: 200px;
  text-align: center;
  justify-content: center;
  color: rgb(110 110 110);
  font-size: larger;
}

.small-font {
  color: rgb(110 110 110);
}

.row-ready {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  height: 30%;
  position: relative;
  margin-bottom: 100px;
}

.column-half {
  width: 50%;
  margin-left: 60px;
}

.start {
  position: relative;
  margin-top: 20px;
  margin-left: 200px;
}

.ready-para {
  color: rgb(110 110 110);
}

.ready-header {
  font-weight: 200;
  color: rgb(110 110 110);
}

.black-box {
  width: 100%;
  background-color: rgb(82 83 81);
  display: flex;
  flex-direction: row;
  line-height: 30px;
  padding-bottom: 10%;
}

.column-bottom-one {
  flex-basis: 50%;
  margin-top: auto;
  padding-left: 40px;
  line-height: 30px;
  padding-bottom: 50px;
}

#logo {
  width: 25%;
}

/* display: flex;
  justify-content: flex-start;
  font-family: "Tiempos Headline", sans-serif;
  font-style: normal;
  font-weight: 100;
  color: white; */

#logo-small {
  color: white;
  line-height: 25px;
  padding-left: 10px;
}

.column-quarter {
  width: 25%;
  padding-top: 60px;
  line-height: 30px;
}

.font-bottom {
  color: white;
}

.row-footer {
  width: 100%;
  background-color: rgb(250 250 250);
}

.column-footer {
  width: 100%;
}
